@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "맑은 고딕";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
}
a{
  color: inherit;
}

main{
  display: flex;
}
aside{
  width: 200px;
}
.content{
  flex: 1;
}

aside nav{
  background: #fff;
  margin: 0 10px 20px;
  border: 1px solid #ccc;

}
aside nav li{
  line-height: 40px;
  height: 40px;
}
aside nav a{
  display: block;
  padding: 0 5px;
  color: #333;
  transition:  0.3s;
}
aside nav li:hover>a{
  background: #666;
  color: #fff;
}
aside .spot-menu{
  height: 50px;
}
.main-menu>li{
  position: relative;
}
.main-menu>li>a{
  border-bottom: 1px solid #ccc;
}
.main-menu>li:last-child a{
  border-bottom: none;
}
.sub-menu{
  background: rgba(0,0,0,.7);
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: calc(100vw - 200px);
  z-index: 100;
}
.sub-menu li{
  display: inline-block;
}
.sub-menu li a{
  color: #ccc;
}

.slide-wrapper{
  height: 400px;
  position: relative;
}
.slide-wrapper>*{
  border: 1px solid green;
}
.slide-image{
  height: 400px;
}
.slide-banner{
  width: 150px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 0;
}
.shortcut{
  border: 1px solid #ccc;
  height: 200px;
}

.news-gallery{
  height: 250px;
}
.news-gallery>*{
  border: 1px solid #ddd;
}

footer{
  display: flex;
}
footer>*{
  border: 1px solid #ccc;
}
.footer-logo{
  width: 200px;
}
.footer-contents{
  flex: 1;
}
.footer-contents>*{
  border: 1px solid #ccc;
  height: 60px;
}