@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "맑은 고딕";
  color: #333;
  box-sizing: border-box;
  background: #fff;
}

main {
  display: flex;
  height: calc(100% - 120px);
}
a{
  color: inherit;
}
.hidden{
  display: none;
}
img{
  vertical-align: top;
}
body{
  width: 100%;
  height: 100vh;
}


/*--------------------------------------*/
aside {
  width: 200px;
}
aside header{
  height: 100px
}
aside nav{
  margin: 20px;
  border: 1px solid #ccc;
}
aside nav a{
  display: block;
  padding: 0 5px;
  color: #333;
  transition: 0.3s;
}
.main-menu li{
  line-height: 35px;
}
nav>ul>li+li{
  border-top: 1px solid #ccc;
}
aside nav li:hover>a{
  background: #333;
  color: #fff;
}


.sub-menu{
  display: none;
  background: #fff;
}


.spotmenu{
  display: flex;
  justify-content: center;
}
.spotmenu li{
  padding: 10px;
  line-height: 1px;
}
.spotmenu li+li{
  border-left: 1px solid #ccc;
}
.spotmenu li:hover{
  text-decoration: underline;
}


.center{
  width: 400px;
  padding: 10px;
}
.center>*{
  margin: 20px 0;
}
.shortcut{
  display: flex;
  align-items: center;
  gap: 10px;
}
.shortcut >img{
  width: 100px;
}


.news-gallery h3{
  border-radius: 5px 5px 0 0;
  background: #333;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
}
.news-gallery ul{
  border: 1px solid #333;
}
#notice{
  margin-bottom: 20px;
}
#notice ul li{
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 5px;
}

#notice li+li{
  border-top: 1px solid #ccc;
}
#notice ul li:hover{
  background: #ebebeb;
}
#notice ul li a:hover{
  font-weight: bold;
}

#gallery{

}

#gallery ul{
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  gap: 10px;
}
#gallery img{
  width: 100%;
}
#gallery ul li{
  text-align: center;
  transition: 0.3s;
}
#gallery ul li:hover img{
  opacity: 0.5;
}


.banner ul{
  display: flex;
  justify-content: space-between;
}
.banner ul li{
  text-align: center;
}
.banner ul img{
  height: 50px;
}

.slide-wrapper{
  display: flex;
  flex: 1;
}
.slide-wrapper>*{
  height: 400px;
}
.slide-image{
  height: 100%;
  overflow: hidden;
}
.slide-image .container{
  position: relative;
  display: flex;
  width: 300%;
  height: 100%;
}
.slide-image .container .slide{
  width: calc(100%/3);
  height: 100%;
}
.slide-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


footer{
  display: flex;
  height: 120px;
}

.footer-logo{
  width: 200px;
}
.footer-content{
  flex: 1;
  padding-top: 30px;
  text-align: left;
}
.footer-menu ul{
  display: flex;
  margin-bottom: 20px;
}
.footer-menu ul li{
  padding: 0 10px;
}
.footer-menu ul lili{
  border-left: 1px solid #ccc;
}
.footer-menu ul li a:hover{
  text-decoration: underline;
}
.copyright{
  padding: 0 15px;
}

#popup{
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, .5);
}
#popup .popup-content{
  width: 400px;
  background: #fff;
  padding: 20px 20px 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}
#popup .popup-contnet .close{
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #333;
  color: #fff;
  cursor: pointer;
  padding: 5px 8px;
}
#popup.active{
  display: block;
}