@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-size: 14px;
  font-family: "맑은 고딕";
  color: #333;
  box-sizing: border-box;
  background: #fff;
}

main {
  display: flex;
}

aside {
  width: 200px;
}
aside > * {
  display: flex;
}


aside nav {
  border: 1px solid #ebebeb;
  line-height: 30px;
  margin: 20px 10px;
  position: relative;
}
aside .main-menu li {
  display: flex;
  width: 100%;
}
aside .main-menu li a{
  padding: 0 5px;
}
aside .main-menu li + li {
  border-top: 1px solid #ebebeb;
}
aside .main-menu .sub-menu {
  display: none;
  position: absolute;
  top: 0;
  bottom: 100%;
  width: 180px;
}

nav .main-menu li:hover{
  background: #333;
  color: #fff;
}

.spotmenu{
  display: flex;
  justify-content: center;
}
.spotmenu li{
  padding: 10px;
  line-height: 1px;
}
.spotmenu li+li{
  border-left: 1px solid #ccc;
}
.spotmenu li:hover{
  text-decoration: underline;
}


.center{
  width: 400px;
}

.shortcut{
  display: flex;
  align-items: center;
  padding: 10px;
}
.shortcut p{
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.shortcut p span{
  text-decoration: bold;
}
.shortcut >img{
  width: 100px;
  height: 100%;
}

.news-gallery{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  align-items: center;
}
#notice{
  width: 100%;
}
#notice ul li{
  line-height: 35px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#notice ul a, #notice ul span{
  padding: 0 5px;
}
#notice li+li{
  border-top: 1px solid #ccc;
}
#notice ul{
  border: 1px solid #333;
  background: #fff;
}
#notice h3{
  border-radius: 5px 5px 0 0;
  background: #333;
  color: #fff;
  padding: 5px 10px;
  display: inline;
  margin-bottom: -1px;
}

#gallery{
  width: 100%;
}

#gallery>ul{
  background: #fff;
  border: 1px solid #333;
  display: flex;
  justify-content: center;
}
#gallery img{
  width: 160px;
}
#gallery ul li{
  padding: 15px 0 ;
  text-align: center;
  width: 100%;
}
#gallery >h3{
  border-radius: 5px 5px 0 0;
  background: #333;
  color: #fff;
  display: inline;
  padding: 5px 10px;
}
.banner{
  width: 100%;
  margin: 20px 0;
}
.banner ul{
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.banner ul img{
  width: 80px;
}


.slide-wrapper{
  width: calc(100% - 600px);
  height: calc(100% - 120px);
  position: relative;
  overflow: hidden;
}

.container{
  position: relative;

}
.container .slide{
  position: absolute;
}
.container a>img{
  object-fit: cover;
}


footer{
  display: flex;
}

.footer-logo{
  width: 200px;
}
.footer-content{
  display: flex;
  flex-direction: column;
  width: calc(100% - 200px);
  justify-content: center;
}
.footer-content>div{
  padding: 5px;
}
.footer-menu ul li{
  display: inline;
  padding: 0 10px;
}


.popup{
  display: none;
}