@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  font-family: "맑은 고딕";
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 14px;
}
a{
  color: #333;
}
main{
  display: flex; /*까먹*/
}

aside nav{
  background: #fff;
  margin: 0 10px 20px;
  border: 1px solid #ccc;
}
aside nav li{
  line-height: 40px;
  height: 40px;
}
aside nav a{
  display: block;
  color: #333;
  padding: 0 5px;
  transition: 0.3s;
}
aside nav li:hover>a{
  background: #666;
  color: #fff;
}
.mainmenu>li{
  position: relative; /*서브메뉴의 위치 기준으로 하기 위함*/
}
.mainmenu>li:not(:last-child)>a{
  border-bottom: 1px solid #ccc;
}
.submenu{
  background: rgba(0,0,0,.7);
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: calc(100vw - 200px);
  z-index: 100;
}
.submenu li{
  display: inline-block;
}
.submenu li a{
  color: #ccc;
}

.spotmenu{
  display: flex;
  justify-content: center;
}
.spotmenu div{
  padding: 0 10px;
}
.spotmenu div:not(:last-child){
  border-right: 1px solid #666;
}
.spotmenu div:hover a{
  text-decoration: underline;
}

.main-content{
  width: calc(100% - 200px);
}

slide-wrapper{
  height: 400px;
  position: relative;
  overflow: hidden;
}


